:root{
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --accent-color: #{$accent-color};
    --background-color: #{$background-color};
    --text-color: #{$text-color};
}